{% extends 'base.html' %}

{% block styles %}<link href="{{ url_for('static', filename='css/admin/admin_base.css')}}" rel="stylesheet">{% endblock %}    

{% block nav %}
<header>
    <h1>ブログ記事-Admin</h1>
    <nav>
        <a href="{{ url_for('user.edit_profile') }}">Profile</a>
        <a href="{{ url_for('blog.add_post') }}">Create Blog</a>
        {% if current_user.role.name == 'admin' %}
        <a href="{{ url_for('user.user_list')}}">Add User</a>
        {% endif %}
        <a href="{{ url_for('user.logout') }}">Logout</a>
        <a href="{{ url_for('blog.blog_list') }}">Blog List</a>
    </nav>
</header>
{% endblock %}