{% extends 'admin/admin_base.html' %}

{% block title %}home{% endblock %}

{% block styles %}<link href="{{ url_for('static', filename='css/admin/admin.css')}}" rel="stylesheet">{% endblock %}

{% block scripts %}<script src="{{ url_for('static', filename='js/index.js')}}"></script>{% endblock %}


{% block content %}
<div class="sections-container">
    <section class="read-article">
        <h2>Read Blog</h2>
        <p>You can read blog without signing in</p>
        <form action="/blog_list">
            <button type="submit">Read Blog</button>
        </form>
    </section>

    <section class="write-article">
        <h2>Write Blog</h2>
        <p>You can write blog after signing in</p>
        <form action="/">
            <button type="submit">Write Blog</button>
        </form>
    </section>

    <section class="profile">
        <h2>Profile</h2>
        <p>You can edit your profile</p>
        <form action="/">
            <button type="submit">Profile</button>
        </form>
    </section>
</div>
{% endblock %}