{% extends 'admin/admin_base.html' %}

{% block title %}Blog list{% endblock %}

{% block styles %}<link href="{{ url_for('static', filename='css/admin/blog_list.css')}}" rel="stylesheet">{% endblock %}

{% block scripts %}{% endblock %}


{% block content %}
<section class="blog-container">
    <h2>Blog List</h2>
    <div class="blog-list">
        {% for post in posts %}
        <section class="blog-item">
            <h3>{{ post.title }}</h3>
            <p class="content">{{ post.content[:20] }}...</p>
            <p>created at: {{ post.created_at.strftime('%Y-%m') }}</p>
            <p>updated at: {{ post.updated_at.strftime('%Y-%m') }}</p>
            <form action="{{ url_for('blog.post_admin_detail', post_id=post.id)}}">
                <button type="submit">Detail</button>
            </form>
            <form action="{{ url_for('blog.edit_post', post_id=post.id) }}">
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('blog.delete_post', post_id=post.id) }}">
                <button type="submit">Delete</button>
            </form>
        </section>
        {% endfor %}
    </div>
</section>
{% endblock %}
