{% extends 'admin/admin_base.html' %}

{% block title %}Profile{% endblock %}

{% block styles %}<link href="{{ url_for('static', filename='css/user/profile.css')}}" rel="stylesheet">{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
<section class="profile-container">
    <h2>Profile</h2>
    <div class="profile">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Password: {{ user.password }}</p>
        <form action="{{ url_for('edit_profile') }}">
            <button type="submit">Edit Profile</button>
        </form>
    </div>
</section>

{% endblock %}